.nav-custom {
  background-color: rgb(0, 204, 255);
}
.nav .navbar-brand {
  color: white;
}
.nav .nav-link {
  background-color: rgb(238, 238, 238);
}
.nav .nav-link.disabled {
  background-color: rgb(226, 226, 226);
}
.nav .nav-link.active {
  color: white;
  background-color: rgb(0, 153, 255);
}
@media (max-width: 800px) {
  html.zoom-on {
    width: 50%;
    transform: scale(2);
    transform-origin: 0 0;
  }
}

.hint {
  border-bottom: 2px dotted gray;
  cursor: help;
}

/* Material Design Icons CSS */
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
    font-size: 1.25em;
    line-height: initial;
    position: relative;
    top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
    margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
    margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
    margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
    margin-left: -0.5rem;
}
.modal-title.mdi::before {
    font-size: 1.5em;
    line-height: 0.5;
    position: relative;
    top: 0.26rem;
    margin-right: 0.5rem;
}
