.nav-custom {
  background-color: rgb(0, 204, 255);
}
.nav .navbar-brand {
  background-color: rgb(238, 238, 238);
}
.nav .nav-link {
  background-color: rgb(238, 238, 238);
}
.nav .nav-link.disabled {
  background-color: rgb(226, 226, 226);
}
.nav .nav-link.active {
  color: white;
  background-color: rgb(0, 153, 255);
}
@media (max-width: 800px) {
  html.zoom-on {
    width: 50%;
    transform: scale(2);
    transform-origin: 0 0;
  }
}

.hint {
  border-bottom: 2px dotted gray;
  cursor: help;
}